#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
#login-form input {
    padding: 15px 0px;
    border:none;
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    font-size: large;
    margin-bottom: 10px;
    transition: border-color 0.3s ease-in-out;
}
#login-form input[type="submit"] {
    border-bottom: none;
    background-color: rgba(0,0,0, 0.05);
    cursor: pointer;
    border-radius: 5px;
}
#login-form input:nth-child(3) {
    margin-top: 28px;
}
#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4)
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    margin-top: 7px;
}