.settings__setting {
    padding: 20px 0;
    border-bottom: var(--main-border);
    font-size: 20px;
    font-weight: 330;
    display: flex;
    justify-content: space-between;
}
.settings__setting i {
    margin-right: 20px;
}
.settings__setting-column:last-child {
    opacity: 0.5;
}
