.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 40px;
    border-top: 1px solid rgba(0,0,0, 0.1);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2d363e;
    position:relative;
}

.nav__notification__nb {
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 13px;
}
.nav__notification {
    left: 20px;
    bottom: 18px;
}
